{% extends "filyApp/base.html" %}

{% block content %}
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a onclick="getUrl()">Generate link</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Fily filesharing system</h3>
      </div>

      <div class="row marketing">
        <h1 class="page-header">Bucket List</h1>
    	<table class="table"> 
    		<thead> 
    			<tr> 
            <th>Expiration date</th>
            <th>Status</th>
            <th>Link</th>
    				<th>Actions</th> 
    			</tr> 
    		</thead> 
    			<tbody> 
				    <tr> 
					</tr> 
    			</tbody> 
    		</table>
      </div>

    </div> <!-- /container -->	
{% endblock %}