{% extends "filyApp/base.html" %}

{% block content %}
<div class="container">
      <div class="header clearfix">
        <nav>
      <button id="generate-btn" class="btn btn-primary pull-right" onclick="getUrl()" type="button" value="Generate Link">Generate Link</button>
        </nav>
        <h3 class="text-muted">Fily filesharing system</h3>
      </div>

      <div class="row marketing">
    	<table class="table"> 
    		<thead> 
    			<tr> 
            <th>Expiration date</th>
            <th>Status</th>
            <th>Link</th>
    				<th>Actions</th> 
    			</tr> 
    		</thead> 
    			<tbody> 
				    <tr> 
					</tr> 
    			</tbody> 
    		</table>
      </div>
    </div> <!-- /container -->	
{% endblock %}