{% extends "filyApp/base.html" %}

{% block content %}
<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Fily file sharing service</h3>

            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="expiration">Time before expiration</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="expiration" placeholder="Time before expiration">
                        <div class="input-group-addon">seconds</div>
                    </div>
                </div>
                <button onclick="AdminPage.generateBtn()" id="generate-btn" class="btn btn-primary" type="submit" value="Generate Link">Generate Link</button>
            </form>
    </div>

    <div class="row marketing">
        <table class="table">
            <thead>
            <tr>
                <th>Expiration date</th>
                <th>Status</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
{% endblock %}